/* 

      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

/*************************************/
/* BELOW 1200px SECTION */
/*************************************/
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  .result-container {
    position: relative;
  }

  .spinner {
    position: absolute;
    transform: translate(330%, 400%);
  }
}

/*************************************/
/* TABLET SECTION */
/*************************************/
@media (max-width: 50em) {
  .container {
    max-width: 60rem;
  }

  .search-input {
    width: 21rem;
  }

  .result-container {
    display: inline-block;
    width: 100%;

    height: 55rem;
  }

  .details-container {
    position: relative;
    width: 100%;
  }

  .user-main-details {
    height: 60%;
    flex-direction: column;
    position: absolute;
    align-content: space-between;

    top: -12rem;
    left: 16rem;
  }

  .git-link {
    position: relative;
    left: 16.1rem;
    top: -7.5rem;
  }

  .bio {
    margin-top: 0;
  }
}

/*************************************/
/* BELOW 500px SECTION */
/*************************************/
@media (max-width: 32em) {
  html {
    font-size: 37.5%;
  }
}

/*************************************/
/* BELOW 500px SECTION */
/*************************************/
@media (max-width: 25em) {
  .container {
    width: 95%;
  }

  .user-main-details {
    height: 40%;
  }

  .social-icons {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .social-icon p {
    align-self: center;
  }

  .social-icon {
    display: grid;
    grid-template-columns: 1fr 10fr;
  }

  .account-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-container {
    height: 62.8rem;
  }
}

@media (max-width: 22em) {
  h1 {
    font-size: 2rem;
  }
}
